.neo_blog_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    span {
        font-size: 5em;
    }

    a {
        margin: 1em 2em 0 2em;
        text-decoration: none;
        background-color: var(--neo_blog_primary_color);
        color: white;
        border-radius: 8px;
        padding: 0.8em 1.2em;
      }

      a:hover {
        background-color: transparent;
        outline: 1px solid var(--neo_blog_font_color);
        color: var(--neo_blog_font_color);
        transition: all 200ms;
      }
}