#neo_blog_footer {
    margin-top: auto;
    background-color: var(--neo_blog_primary_variant_much_brighter);
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: var(--neo_blog_primary_variant_darker);
    }
    
    nav {
        ul{
            padding: 1.5em;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            li {
                margin: 1.5em;
                a {
                    font-weight: bold;
                    font-size: 0.8em;
                    text-decoration: none;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        a {
                            font-weight: normal;
                            font-size: 1em;
                        }
                        ul {
                            display: flex;
                            flex-direction: column;
                        }
                    } 
                }
            }
        }
    }

    .neo_blog_footer_info {
        margin-bottom: 0.2em;
        font-size: 0.8em;
    }
}