.comments-area {
  margin-top: 2em;
  background-color: rgb(225, 245, 245);
  border-radius: 12px;
  padding: 1em;
  max-width: 50em;
}
.comments-area h2 {
  margin: 0;
}
.comments-area ul {
  padding: 0;
}
.comments-area .comment {
  list-style: none;
  font-size: 0.9em;
}
.comments-area .commentCard {
  background-color: rgb(172, 224, 255);
  border-radius: 12px;
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 1em;
  border: 1px solid rgb(212, 212, 212);
}
.comments-area .cardBackground {
  background-color: azure;
}
.comments-area .reply {
  display: flex;
  justify-content: space-between;
}
.comments-area .reply a:hover {
  background-color: rgb(225, 245, 245);
}
.comments-area .comment-reply-link {
  text-decoration: none;
  background-color: azure;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: black;
  font-size: 1em;
}
.comments-area .comment-edit-link, .comments-area #cancel-comment-reply-link {
  text-decoration: none;
  display: block;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 12px;
  color: black;
  font-size: 1em;
}
.comments-area .profilepicture {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments-area .profilepicture img {
  background-color: white;
  max-height: 5em;
  width: auto;
}
.comments-area .commentContent {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.5em 0.5em 1em;
  overflow: auto;
}
.comments-area .commentContent header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
.comments-area .commentContent .commentText {
  overflow: auto;
  max-height: 30em;
  margin: 0.5em 0;
}
.comments-area .children {
  grid-column-end: 3;
  padding: 0;
}
.comments-area .children .comment {
  margin-left: 2em;
  font-size: 1em;
}
.comments-area .children .author img {
  max-width: 5em;
  height: auto;
}
.comments-area .comment-form-comment {
  display: flex;
  flex-direction: column;
}
.comments-area .form-submit {
  margin: 0.5rem;
}
.comments-area hr {
  margin-top: 1em;
}
.comments-area .comment-reply-title {
  display: flex;
  justify-content: space-between;
}
.comments-area .submit {
  text-decoration: none;
  background-color: rgb(162, 210, 238);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  height: auto;
}
.comments-area .submit:hover {
  background-color: rgb(243, 246, 253);
}
.comments-area textarea {
  resize: vertical;
}
.comments-area input {
  padding: 0.5em;
  height: 25px;
  border: solid 1px rgb(12, 12, 12);
  background-color: rgb(236, 244, 248);
}
.comments-area .comment-form-author, .comments-area .comment-form-email, .comments-area .comment-form-url {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.comments-area .comment-form-author label, .comments-area .comment-form-email label, .comments-area .comment-form-url label {
  position: absolute;
  top: 8px;
  left: 5px;
}
.comments-area .comment-form-author input:not(:placeholder-shown) + label,
.comments-area .comment-form-author input:focus + label,
.comments-area .comment-form-author input:-webkit-autofill + label, .comments-area .comment-form-email input:not(:placeholder-shown) + label,
.comments-area .comment-form-email input:focus + label,
.comments-area .comment-form-email input:-webkit-autofill + label, .comments-area .comment-form-url input:not(:placeholder-shown) + label,
.comments-area .comment-form-url input:focus + label,
.comments-area .comment-form-url input:-webkit-autofill + label {
  transform: scale(0.8) translateY(-0.8em);
  height: auto;
  font-size: 0.8em;
}/*# sourceMappingURL=comments.css.map */