.comments-area {
    margin-top: 1em;
    border-radius: 12px;
    padding: 1em;

    .comment-list {
        padding: 0;
    }

    .comment-list {
        list-style: none;
    }

    .comment {
        list-style: none;
        font-size: 0.8em;
    }

    .comment-awaiting-moderation {
        color: rgb(255, 0, 0);
        font-weight: bold;
    }

    .comment-body {
        background-color: var(--neo_element_background);
        border-radius: 12px;
        padding: 1em;
        margin-top: 1em;
        border: 1px solid var(--neo_primary_variant_darker);
        box-shadow: inset 0px 0px 50px 0px var(--neo_element_background_variant);
        overflow-wrap: anywhere;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 500px;
        overflow-y: auto;
    }

    // Image and name row
    .vcard {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;

        cite {
            a {
                text-decoration: none;
                color: unset;
                font-weight: bold;
                font-size: 1.5em;
                padding: 0.2em;
            }
        }

        img {
            height: 3em;
            width: auto;
            margin: 0 1em 0 0;
        }

        // "says:"
        span {
            display: none;
        }
    }

    // Row with date and edit button
    .comment-meta {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            margin: 0.5em 0;
        }
    }

    // Row with reply link
    .reply {
        display: flex;
        margin-top: 1em;

        .comment-reply-link {
            text-decoration: none;
            background-color: var(--neo_primary_variant_much_brighter);
            padding: 0.5rem 1rem;
            border-radius: 12px;
            color: var(--neo_font_color);
            border: 1px solid var(--neo_element_background);
        }

        .comment-reply-link:hover {
            background-color: unset;
        }
    }

    // Author comment
    .bypostauthor {
        .comment-body {
            background-color: var(--neo_body);
            border: 1px solid var(--neo_font_color);
            box-shadow: inset 0px 0px 50px 0px rgba(216, 221, 167, 0.41);
        }
    }

    // List of replies to the comment
    .children {
        grid-column-end: 3;
        padding: 0;

        .comment {
            margin-left: 2em;
            font-size: 1em;
        }

        .author img {
            max-width: 5em;
            height: auto;
        }
    }

    // Answer form container
    .comment-respond {
        padding: 1em;

        // P-tag with label + textarea to answer
        .comment-form-comment {
            display: flex;
            flex-direction: column;

            textarea {
                resize: vertical;
                width: 100%;
            }
        }

        // Row with "send comment"
        .form-submit {
            margin: 0.5rem;


            .submit {
                text-decoration: none;
                background-color: var(--neo_primary_color);
                padding: 0.5rem 1rem;
                border-radius: 12px;
                color: black;
                border: none;
                cursor: pointer;
                font-size: 1.2em;
                height: auto;
            }

            .submit:hover {
                background-color: var(--neo_primary_variant_brighter);
            }
        }

        // h2 "Write a comment"
        .comment-reply-title {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            #cancel-comment-reply-link {
                font-size: 0.8em;
                color: red;
                text-decoration: none;
            }
        }

        input {
            padding: 0.5em;
            height: 25px;
            border: solid 1px var(--neo_font_color);
            background-color: var(--neo_element_background-inputfeld);
        }

        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;

            label {
                pointer-events: none;
                position: absolute;
                top: 8px;
                left: 5px;
                color: black;
            }

            input:not(:placeholder-shown)+label,
            input:focus+label,
            input:-webkit-autofill+label {
                transform: scale(0.8) translateY(-0.8em);
                height: auto;
                font-size: 0.8em;
            }
        }
    }
}

.darkmode .comments-area {
    .comment-body {
        box-shadow: inset 0px 0px 50px 0px var(--neo_primary_variant_much_brighter);
    }

    .bypostauthor {
        .comment-body {
            box-shadow: inset 0px 0px 50px 0px rgba(216, 221, 167, 0.41);
        }
    }
}