.comments-area {
    margin-top: 2em;
    background-color: rgb(225, 245, 245);
    border-radius: 12px;
    padding: 1em;
    max-width: 50em;

    h2 {
        margin: 0;
    }

    ul {
        padding: 0;
    }

    .comment {
        list-style: none;
        font-size: 0.9em;
    }

    .commentCard {
        background-color: rgb(172, 224, 255);
        border-radius: 12px;
        padding: 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        margin-top: 1em;
        border: 1px solid rgb(212, 212, 212);
    }

    .cardBackground {
        background-color: azure;
    }
    
    .reply {
        display: flex;
        justify-content: space-between;
        
        a:hover {
            background-color: rgb(225, 245, 245);
        }
    }
    
    .comment-reply-link {
        text-decoration: none;
        background-color: azure;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        color: black;
        font-size: 1em;
    }

    .comment-edit-link, #cancel-comment-reply-link {
        text-decoration: none;
        display: block;
        background-color: azure;
        // padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 12px;
        color: black;
        font-size: 1em;
    }

    .profilepicture {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            background-color: white;
            max-height: 5em;
            width: auto;
        }
    }
    
    .commentContent {
        display: flex;
        flex-direction: column;
        margin: 0.5em 0.5em 0.5em 1em;
        overflow: auto;

        header {
            display: flex;
            justify-content: space-between;
            font-size: 0.9em;
        }
        
        .commentText {
            overflow: auto;
            max-height: 30em;
            margin: 0.5em 0;
        }
    }

    .children {
        grid-column-end: 3;
        padding: 0;

        .comment {
            margin-left: 2em;
            font-size: 1em;
        }

        .author img {
            max-width: 5em;
            height: auto;
        }
    }

    .comment-form-comment {
        display: flex;
        flex-direction: column;
    }

    .form-submit {
        margin: 0.5rem;
    }

    hr {
        margin-top: 1em;
    }

    .comment-reply-title {
        display: flex;
        justify-content: space-between;
    }

    .submit {
        text-decoration: none;
        background-color: rgb(162, 210, 238);
        padding: 0.5rem 1rem;
        border-radius: 12px;
        color: black;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        height: auto;
    }

    .submit:hover {
        background-color: rgb(243, 246, 253);
    }

    textarea { resize: vertical; }

    input {
        padding: 0.5em;
        height: 25px;
        // border-radius: 8px;
        border: solid 1px rgb(12, 12, 12);
        background-color: rgb(236, 244, 248);
    }

    
    .comment-form-author, .comment-form-email, .comment-form-url {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;

        label{
            position: absolute;
            top: 8px;
            left: 5px;
        }

        input:not(:placeholder-shown)+label,
        input:focus+label,
        input:-webkit-autofill+label {
          transform: scale(0.8) translateY(-0.8em);
          height: auto;
          font-size: 0.8em;
        }
    }
}


