.comments-area {
    margin-top: 2em;
    background-color: rgb(225, 245, 245);
    border-radius: 12px;
    padding: 1em;
    max-width: 50em;

    ul {
        padding: 0;
    }

    .comment-list {
        list-style: none;
    }

    .comment {
        list-style: none;
        font-size: 0.9em;
    }

    .comment-awaiting-moderation {
        color: rgb(255, 0, 0);
        font-weight: bold;
    }

    .comment-body {
        background-color: white;
        border-radius: 12px;
        padding: 1em;
        margin-top: 1em;
        border: 1px solid rgb(212, 212, 212);
        box-shadow: inset 0px 0px 50px 0px rgb(193 232 255 / 41%);
        overflow-wrap: anywhere;
        word-wrap: break-word;
        overflow: hidden;
    }

    // Zeile mit Antworten-Link
    .reply {
        display: flex;
        margin-top: 1em;

        .comment-reply-link {
            text-decoration: none;
            background-color: azure;
            padding: 0.5rem 1rem;
            border-radius: 12px;
            color: black;
            font-size: 1em;
            border: 1px solid;
        }

        a:hover {
            background-color: rgb(225, 245, 245);
        }
    }

    pre {
        overflow-y: auto;
        background-color: white;
        margin: 0;
        box-sizing: border-box;
        white-space: pre-wrap;
    }

    // Zeile mit Bild und Namen
    .vcard {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;

        cite {
            a {
                text-decoration: none;
                color: unset;
                font-weight: bold;
                font-size: 1.5em;
                padding: 0.2em;
            }
        }

        img {
            height: 3em;
            width: auto;
            margin-right: 1em;
        }

        // "sagt:"
        span {
            display: none;
        }
    }

    // Zeile mit Datum und Bearbeiten-Button
    .comment-meta {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            margin: 0.5em 0;
        }
    }

    // Autor-Kommentar
    .bypostauthor {
        .comment-body {
            background-color: white;
            border: 1px solid black;
            box-shadow: inset 0px 0px 50px 0px rgba(216, 221, 167, 0.41);
        }
    }

    // Liste mit Antworten auf Kommentar
    .children {
        grid-column-end: 3;
        padding: 0;

        .comment {
            margin-left: 2em;
            font-size: 1em;
        }

        .author img {
            max-width: 5em;
            height: auto;
        }
    }

    // Antwortformular Container
    .comment-respond {
        padding: 1em;

        // P-Tag mit Label + Textarea zum Antworten
        .comment-form-comment {
            display: flex;
            flex-direction: column;

            textarea {
                resize: vertical;
                width: 100%;
            }
        }

        // Zeile mit "Kommentar abschicken"
        .form-submit {
            margin: 0.5rem;


            .submit {
                text-decoration: none;
                background-color: rgb(162, 210, 238);
                padding: 0.5rem 1rem;
                border-radius: 12px;
                color: black;
                border: none;
                cursor: pointer;
                font-size: 1.2em;
                height: auto;
            }

            .submit:hover {
                background-color: rgb(243, 246, 253);
            }
        }

        // h2 "Schreib einen Kommentar"
        .comment-reply-title {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            #cancel-comment-reply-link {
                font-size: 0.8em;
                color: red;
            }
        }

        input {
            padding: 0.5em;
            height: 25px;
            border: solid 1px rgb(12, 12, 12);
            background-color: rgb(236, 244, 248);
        }

        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;

            // Label als Placeholder in Textfeldern
            label {
                pointer-events: none;
                position: absolute;
                top: 8px;
                left: 5px;
            }

            input:not(:placeholder-shown)+label,
            input:focus+label,
            input:-webkit-autofill+label {
                transform: scale(0.8) translateY(-0.8em);
                height: auto;
                font-size: 0.8em;
            }
        }
    }
}