#footer {
    margin-top: auto;
    background-color: rgb(184, 204, 204);
    display: flex;
    justify-content: center;
    
    nav {
        ul{
            padding: 1.5em;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: flex-start;
            li {
                margin: 1.5em;
                a {
                    font-weight: bold;
                    font-size: 0.8em;
                    text-decoration: none;
                    color: unset;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        a {
                            font-weight: normal;
                            font-size: 1em;
                        }
                        ul {
                            display: flex;
                            flex-direction: column;
                        }
                    } 
                }
            }
        }
    }
}