#searchform {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  #searchinput {
    height: 40px;
    width: 80%;
    max-width: 20em;
    border: none;
    font-size: 1.5em;
    padding-left: 0.8em;
    margin: 5px 0;
    border-radius: 8px;
  }

  #searchinput:focus {
    outline: none;
  }

  #searchsubmit {
    margin: 4px;
    border-radius: 8px;
    width: 45px;
    height: 45px;
    font-size: 1.3em;
    border: none;
  }

  #searchsubmit:hover {
    font-size: 1em;
    cursor: pointer;
    background-color: var(--hintergrund-variant-darker);
  }
}