#sidebar {
    margin: 0 1em;
    padding-bottom: 0.5em;
    border-radius: 18px;
    background-color: aliceblue;
    width: 20em;
    height: min-content;
    overflow: hidden;

    ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }

    hr {
        width: 80%;
        margin-top: 1rem;
    }

    h2 {
        margin: 0;
    }

    select {
        margin: 0.5rem 0;
        padding: 6px;
        border: none;
    
        option {
            padding: 4px;
        }
    }
}

.widget {
    max-height: 800px;
    overflow-y: auto;
    padding: 1rem 1rem 0 1rem;
}

.wp-block-archives {
    padding: 1rem;
}
.widget_archive {
    padding: 0;
    li {
        padding: 0.8em 1rem;
        background-color: aliceblue;
        a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            color: black;
        }
    }
    
    li:nth-child(even) {
        background-color: rgb(220, 235, 235);
    }
}

.wp-block-calendar {
    .wp-calendar-nav {
        margin-top: 1rem;
        a {
            background-color: azure;
            padding: 8px;
            border-radius: 16px;
        }
    }
}

.widget_categories, .wp-block-categories{
    li {
        margin: 1.5rem 0;
        a {
            padding: 0.5em;
            border-radius: 14px;
            background-color: rgb(220, 235, 235);
            color: rgb(17, 17, 17);
            text-decoration: none;
            border: solid 1px;
        }

        a:hover {
            background-color: rgb(203, 216, 216);
        }
    }
}

.widget_recent_comments ol, .wp-block-latest-comments {
    margin: 0;
    padding: 1rem 0 0 0 ;

    li {
        background-color: rgb(220, 235, 235);
        padding: 0.5rem;
        border-radius: 16px;
    }

    p {
        margin-bottom: 5px;
    }

    .wp-block-latest-comments__comment-link {
        font-size: 0.8em;
    }

    .wp-block-latest-comments__comment-author {
        text-decoration: none;
        font-weight: bold;
        color: unset;
    }
}

.wp-block-loginout {
    a {
        padding: 0.5rem;
        border-radius: 16px;
        background-color: rgb(220, 235, 235);
        text-decoration: none;
    }
}

.wp-block-page-list, .widget_rss {
    li {
        padding: 0.5rem;
        background-color: rgb(220, 235, 235);
        margin-top: 0.5rem;
    }
}

.widget_recent_entries{
    li {
        margin-top: 0.5rem;
        width: 100%;
        a {
            display: block;
            padding: 0.5rem;
            background-color: rgb(220, 235, 235);
            color: rgb(17, 17, 17);
            text-decoration: none;
        }

        a:hover {
            background-color: rgb(203, 216, 216);
        }
    }
}

.widget_tag_cloud {
    p {
        margin: 0;
    }
}