#sidebar {
  margin: 0 1em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  width: 20em;
  height: -moz-min-content;
  height: min-content;
  overflow: hidden;
}
@media only screen and (max-width: 950px) {
  #sidebar {
    display: none;
  }
}
#sidebar ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#sidebar hr {
  width: 80%;
  margin-top: 1rem;
}
#sidebar h2 {
  margin: 0;
}
#sidebar select {
  margin: 0.5rem 0;
  padding: 6px;
  border: none;
}
#sidebar select option {
  padding: 4px;
}
#sidebar .widget {
  padding: 0 1rem 1rem 1rem;
}
#sidebar .wp-widget-group__inner-blocks {
  margin-top: 1em;
}
#sidebar .wp-block-archives {
  margin: 0 1em 1em 1em;
  max-height: 800px;
  overflow-y: auto;
}
#sidebar .widget_archive {
  padding: 0;
}
#sidebar .widget_archive li {
  padding: 0.8em 1em;
  background-color: aliceblue;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: inset 0px 0px 20px 0px rgba(193, 232, 255, 0.41);
}
#sidebar .widget_archive li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}
#sidebar .widget_archive li:nth-child(even) {
  background-color: rgba(224, 244, 255, 0.41);
}
#sidebar .wp-block-calendar .wp-calendar-nav {
  margin-top: 1rem;
}
#sidebar .wp-block-calendar .wp-calendar-nav a {
  background-color: azure;
  padding: 8px;
  border-radius: 12px;
}
#sidebar .widget_search form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#sidebar .widget_search form label {
  font-size: 1.2em;
}
#sidebar .widget_search input[type=search] {
  height: 3em;
  border-radius: 8px;
}
#sidebar .widget_search input[type=search]:focus {
  outline: none;
}
#sidebar .widget_search button {
  height: 3em;
  border-radius: 8px;
  background-color: white;
}
#sidebar .widget_search button:hover {
  background-color: azure;
}
#sidebar .widget_categories, #sidebar .wp-block-categories {
  max-height: 600px;
  overflow-y: auto;
}
#sidebar .widget_categories li, #sidebar .wp-block-categories li {
  display: flex;
  margin-bottom: 0.2em;
  align-items: center;
  gap: 0.2em;
}
#sidebar .widget_categories li a, #sidebar .wp-block-categories li a {
  padding: 0.5em;
  border-radius: 14px;
  background-color: white;
  color: rgb(17, 17, 17);
  text-decoration: none;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: inset 0px 0px 20px 0px rgba(193, 232, 255, 0.41);
}
#sidebar .widget_categories li a:hover, #sidebar .wp-block-categories li a:hover {
  background-color: rgb(203, 216, 216);
}
#sidebar .wp-block-page-list {
  font-size: 0.9em;
  max-height: 800px;
  overflow-y: auto;
}
#sidebar .wp-block-page-list li {
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: inset 0px 0px 20px 0px rgba(193, 232, 255, 0.41);
}
#sidebar .wp-block-page-list a {
  color: unset;
}
#sidebar .wp-block-page-list ul {
  list-style: circle;
  padding-left: 2em;
}
#sidebar .wp-block-page-list ul li {
  padding-left: 0;
  margin: 0;
  border: none;
  background-color: unset;
  box-shadow: none;
}
#sidebar .wp-block-page-list ul li a {
  text-decoration: none;
}
#sidebar .wp-block-loginout {
  display: flex;
  justify-content: center;
}
#sidebar .wp-block-loginout a {
  padding: 0.8em 1em;
  border-radius: 12px;
  background-color: aquamarine;
  text-decoration: none;
  color: unset;
}
#sidebar .wp-block-loginout a:hover {
  background-color: rgb(231, 231, 231);
}
#sidebar .wp-block-page-list li, #sidebar .widget_rss li {
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#sidebar .widget_recent_entries li {
  margin-top: 0.5rem;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
}
#sidebar .widget_recent_entries li a {
  display: block;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: inset 0px 0px 20px 0px rgba(193, 232, 255, 0.41);
  color: rgb(17, 17, 17);
  text-decoration: none;
}
#sidebar .widget_recent_entries li a:hover {
  background-color: rgb(203, 216, 216);
}
#sidebar .wp-block-tag-cloud p {
  margin: 0;
}
#sidebar .wp-block-tag-cloud a {
  margin: 0.2em 0.2em;
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: rgb(224, 233, 241);
  padding: 0.6em 1em;
  border-radius: 32px;
  font-size: 0.7em !important;
  min-width: 2em;
}
#sidebar .wp-block-tag-cloud a:hover {
  outline: 1px solid rgb(97, 97, 97);
}

.widget_recent_comments ol, .wp-block-latest-comments {
  margin: 0;
  padding: 0;
}
.widget_recent_comments ol li, .wp-block-latest-comments li {
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 0.5em;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: inset 0px 0px 50px 0px rgba(193, 232, 255, 0.41);
}
.widget_recent_comments ol p, .wp-block-latest-comments p {
  margin-bottom: 5px;
  overflow-wrap: anywhere;
}
.widget_recent_comments ol .wp-block-latest-comments__comment-link, .wp-block-latest-comments .wp-block-latest-comments__comment-link {
  font-size: 0.8em;
}
.widget_recent_comments ol .wp-block-latest-comments__comment-author, .wp-block-latest-comments .wp-block-latest-comments__comment-author {
  text-decoration: none;
  font-weight: bold;
  color: unset;
}/*# sourceMappingURL=sidebar.css.map */