.widget, .widget ul {
  list-style: none;
  padding: 0;
}

#neo_sidebar {
  margin: 0 1em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  width: 20em;
  height: -moz-min-content;
  height: min-content;
  overflow: hidden;
}
@media only screen and (max-width: 950px) {
  #neo_sidebar {
    display: none;
  }
}
#neo_sidebar hr {
  width: 80%;
  margin-top: 1rem;
}
#neo_sidebar h2 {
  margin: 0;
}
#neo_sidebar select {
  margin: 0.5rem 0;
  padding: 6px;
  border: none;
}
#neo_sidebar select option {
  padding: 4px;
}
#neo_sidebar img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.widget {
  padding: 0 1rem 1rem 1rem;
}

.wp-widget-group__inner-blocks {
  margin-top: 1em;
}

.wp-block-social-link:hover {
  transform: scale(0.9);
}

.wp-block-archives {
  margin: 0 1em 1em 1em;
  max-height: 800px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.widget_archive, .wp-block-archives {
  padding: 0;
}
.widget_archive li, .wp-block-archives li {
  padding: 0.8em 1em;
  border: 1px solid var(--neo_element_background_variant_darker);
  box-shadow: inset 0px 0px 20px 0px var(--neo_element_background_variant);
}
.widget_archive li a, .wp-block-archives li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: var(--neo_font_color);
}
.widget_archive li:nth-child(even), .wp-block-archives li:nth-child(even) {
  background-color: var(--neo_element_background);
}

.wp-block-calendar table,
.widget_calendar table {
  display: table;
}
.wp-block-calendar caption,
.widget_calendar caption {
  color: var(--neo_font_color);
}
.wp-block-calendar .wp-calendar-nav,
.widget_calendar .wp-calendar-nav {
  margin-top: 0.5rem;
}
.wp-block-calendar .wp-calendar-nav a,
.widget_calendar .wp-calendar-nav a {
  padding: 8px;
}
.wp-block-calendar th,
.wp-block-calendar td,
.widget_calendar th,
.widget_calendar td {
  border: 1px solid var(--neo_primary_variant_much_brighter);
}
.wp-block-calendar tr,
.wp-block-calendar th,
.widget_calendar tr,
.widget_calendar th {
  background-color: unset;
  text-align: center;
}
.wp-block-calendar tr,
.widget_calendar tr {
  color: var(--neo_font_color);
}

.wp-block-social-links {
  margin: 0.3em 0;
}

.calendar_wrap td {
  padding: 4px;
}
.calendar_wrap .wp-calendar-nav {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.calendar_wrap .wp-calendar-nav a {
  padding: 8px;
}

.widget_search form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.widget_search form label {
  font-size: 1.2em;
}
.widget_search input[type=search] {
  height: 3em;
  outline: 1px solid var(--neo_primary_variant_darker);
}
.widget_search input[type=search]:focus {
  outline: none;
  outline: 1px solid var(--neo_primary_color);
}
.widget_search button {
  height: 3em;
  border-radius: 8px;
  color: white;
  background-color: var(--neo_primary_variant_much_brighter);
  border: none;
}
.widget_search button:hover {
  background-color: var(--neo_body);
  transition: all 200ms;
  outline: 1px solid var(--neo_font_color);
  color: var(--neo_font_color);
}

.widget_categories,
.wp-block-categories {
  max-height: 600px;
  overflow-y: auto;
  margin: 0;
}
.widget_categories li,
.wp-block-categories li {
  display: flex;
  margin-bottom: 0.2em;
  align-items: center;
  gap: 0.2em;
}
.widget_categories li a,
.wp-block-categories li a {
  padding: 0.5em;
  border-radius: 6px;
  background-color: var(--neo_body);
  color: var(--neo_font_color);
  text-decoration: none;
  border: 1px solid var(--neo_primary_variant_darker);
  box-shadow: inset 0px 0px 20px 0px var(--neo_primary_variant_much_brighter);
}
.widget_categories li a:hover,
.wp-block-categories li a:hover {
  background-color: var(--neo_element_background_variant);
}

.wp-block-page-list {
  font-size: 0.9em;
  max-height: 800px;
  overflow-y: auto;
  padding: 0;
  list-style: none;
}
.wp-block-page-list li {
  background-color: var(--neo_body);
  border: 1px solid var(--neo_primary_variant_darker);
  box-shadow: inset 0px 0px 20px 0px var(--neo_element_background_variant);
}
.wp-block-page-list a {
  color: unset;
}
.wp-block-page-list ul {
  list-style: circle;
  padding-left: 2em;
}
.wp-block-page-list ul li {
  padding-left: 0;
  margin: 0;
  border: none;
  background-color: unset;
  box-shadow: none;
}
.wp-block-page-list ul li a {
  text-decoration: none;
}

.wp-block-loginout {
  display: flex;
  justify-content: center;
}
.wp-block-loginout a {
  padding: 0.8em 1em;
  border-radius: 8px;
  background-color: var(--neo_primary_color);
  text-decoration: none;
  color: white;
}
.wp-block-loginout a:hover {
  background-color: var(--neo_element_background);
  outline: 1px solid var(--neo_primary_color);
  transition: all 200ms;
}

.wp-block-page-list li,
.widget_rss li {
  background-color: var(--neo_element_background);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.wp-block-latest-posts li,
.widget_recent_entries li {
  margin-top: 0.5rem;
  border: 1px solid rgb(212, 212, 212);
}
.wp-block-latest-posts li a,
.widget_recent_entries li a {
  display: block;
  padding: 0.5rem;
  background-color: var(--neo_body);
  background-color: var(--neo_element_background);
  border: 1px solid var(--neo_primary_variant_much_brighter);
  box-shadow: inset 0px 0px 50px 0px var(--neo_element_background_variant);
  text-decoration: none;
}
.wp-block-latest-posts li a:hover,
.widget_recent_entries li a:hover {
  background-color: var(--neo_element_background_variant);
}

.wp-block-latest-posts__post-excerpt a {
  margin: 1em 0 0 0;
}

.wp-block-latest-comments__comment-excerpt {
  max-height: 200px;
  overflow-y: auto;
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
}

.wp-block-tag-cloud p,
.tagcloud p {
  margin: 0;
}
.wp-block-tag-cloud a,
.tagcloud a {
  margin: 0.2em 0.2em;
  text-decoration: none;
  color: var(--neo_font_color);
  text-align: center;
  background-color: var(--neo_element_background_variant);
  padding: 0.6em 1em;
  border-radius: 32px;
  font-size: 0.7em !important;
  min-width: 2em;
}
.wp-block-tag-cloud a:hover,
.tagcloud a:hover {
  outline: 1px solid var(--neo_font_color);
}

.widget_recent_comments ol,
.wp-block-latest-comments,
#recentcomments {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
.widget_recent_comments ol li,
.wp-block-latest-comments li,
#recentcomments li {
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 0.5em;
  background-color: var(--neo_element_background);
  border: var(--neo_comments_border);
  box-shadow: inset 0px 0px 50px 0px var(--neo_element_background_variant);
}
.widget_recent_comments ol p,
.wp-block-latest-comments p,
#recentcomments p {
  margin-bottom: 5px;
  overflow-wrap: anywhere;
}
.widget_recent_comments ol .wp-block-latest-comments__comment-link,
.wp-block-latest-comments .wp-block-latest-comments__comment-link,
#recentcomments .wp-block-latest-comments__comment-link {
  font-size: 0.8em;
}
.widget_recent_comments ol .wp-block-latest-comments__comment-author,
.wp-block-latest-comments .wp-block-latest-comments__comment-author,
#recentcomments .wp-block-latest-comments__comment-author {
  text-decoration: none;
  font-weight: bold;
  color: unset;
}

#recentcomments li {
  background-color: var(--neo_element_background);
  border-radius: 6px;
  box-shadow: none;
}

.widget_recent_entries li {
  padding: 0;
}
.widget_recent_entries .has-dates li {
  padding: 0.5em;
  box-sizing: border-box;
}

.neo_dark_mode .widget_recent_entries a:hover {
  background-color: var(--neo_body);
  color: var(--neo_font_color);
}
.neo_dark_mode .wp-block-latest-posts a,
.neo_dark_mode .wp-block-archives li,
.neo_dark_mode .widget_recent_entries a {
  box-shadow: inset 0px 0px 20px 0px var(--neo_primary_variant_much_brighter);
}
.neo_dark_mode .wp-block-latest-comments li {
  box-shadow: inset 0px 0px var(--neo_comments_inner_glow) 0px var(--neo_primary_variant_much_brighter);
}
.neo_dark_mode .wp-block-page-list li {
  box-shadow: inset 0px 0px 20px 0px var(--neo_primary_variant_much_brighter);
}
.neo_dark_mode .wp-block-page-list ul li {
  box-shadow: none;
}
.neo_dark_mode .wp-block-tag-cloud a,
.neo_dark_mode .tagcloud a {
  background-color: var(--neo_primary_variant_much_brighter);
}/*# sourceMappingURL=sidebar.css.map */